<div class="register-container">
  <form (ngSubmit)="onRegister()" #registerForm="ngForm">
    <h2>Create an Account</h2>

    <input
      type="text"
      [(ngModel)]="firstName"
      name="firstName"
      placeholder="First Name"
      required
    />
    <input
      type="text"
      [(ngModel)]="lastName"
      name="lastName"
      placeholder="Last Name"
      required
    />
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      required
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      required
    />

    <button type="submit">Register</button>
  </form>
</div>
